.container-authorize {
    height: 100vh;
    background-color: #fcfcfc;

    .container {
        margin: 20px;
        padding: 20px;
        background-color: #f8f8f8;
    }

    .spacer {
        flex: 1 1 auto;
    }
}